body {
    background-image: url('../storage/img/paisaje.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end;  /* Alinea a la derecha */
}

.sun {
    height: 100vh; 
}

.sun img {
    width: auto; 
    height: 100px;
}

.cloud {  
    position: absolute;  /* Permite que este contenedor esté encima del inferior */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.cloud img {
    height: 110px;
    transform: translateX(100%);  /* Inicia desde la derecha */
    animation: mover-derecha-izquierda 3s linear 1;  /* Animación para mover de derecha a izquierda */
}

@keyframes mover-derecha-izquierda {
    0% {
        transform: translateX(300%);  /* Comienza desde el extremo derecho */
    }
    100% {
        transform: translateX(45px);  /* Termina en el extremo izquierdo */
    }
}

.rain{
    position: absolute;  /* Permite el posicionamiento preciso */
    bottom: 15;  /* Alinea al borde inferior */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: flex-end;
}

.rain img{
    width: 220px;  /* Tamaño de la imagen debajo de la nube */
    height: 200;
}